<!doctype html>
<html>
<head>
    <title>Mimicstagram</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <a href="/profile">Profile</a>
        <a href="/feed">Feed</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

       
        <div class="col-sm-6">
          <h3>Posts</h3>
          <ul class="messages">
         
            <li class="message">
              <h4><%= posts.caption %></h4>
              <img src="/<%= posts.img %>" alt="">
            </li>
          </ul>


          <% for (let i = 0; i < comments.length; i++) {%>

           <li class="message">
              <h4><%= comments[i].comment %></h4>
              <p> <%= comments[i].postedBy %> </p>
            </li>
          </ul>

          <% } %>

          <h2>comment</h2>
          <% if (user.local.email) { %>
            <form action="/makeComment/<%= posts._id %>" method="POST">
              <input type="text" name="comment" placeholder="comment">
              <button type="submit">Submit</button>
            </form>
          </div>
          <% } %>
  

</div>

<script src="main.js"></script>

</body>
</html>
